body {
  background-color: rgb(238,240,241);
}

#main-div {
  background-color: white;
  max-width: 1200px;
  min-width: 1200px;
  max-height: 750px;
  min-height: 750px;
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
}

#dealer-gif {
  height: 300px;
  width: 500px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
  left: 460px;
}

#speech-bubble {
  height: 180px;
  width: 250px;
  position: absolute;
  left: 810px;
}

p {
  width: 215px;
  position: absolute;
  top: 10px;
  left: 825px;
  color: green;
  font-weight: bolder;
  font-size: 18px;
}

button {
  position: absolute;
  z-index: 1;
  top: 290px;
  left: 725px;
  background-color: red;
  height: 50px;
  width: 35px;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow;
  border: solid 2px grey;
  margin-top: 0px;
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
   animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0%   { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
  50%  { box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow; }
  100% { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
}
@-o-keyframes flickerAnimation{
  0%   { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
  50%  { box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow; }
  100% { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
}
@-moz-keyframes flickerAnimation{
  0%   { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
  50%  { box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow; }
  100% { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
}
@-webkit-keyframes flickerAnimation{
  0%   { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
  50%  { box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow; }
  100% { box-shadow: 0 4px 8px 0 yellow, 0 3px 10px 0 yellow; }
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow;
}

button:focus {
  outline: none;
}

#card-table {
  background-color: green;
  height: 500px;
  width: 1000px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  z-index: 0;
  top: 245px;
  left: 200px;
  border: solid 10px black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.8);
}

#card-back {
  margin-top: 130px;
  border-radius: 5%;
  height: 210px;
  width: 150px;
}

.card-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 0px;
  margin: auto;
  width: 800px;
}

.card-grid-item {
  height: 210px;
  width: 150px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.8);
}

.details-grid-container {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  color:black
}

.details-grid-container h3 {
  margin: 5px auto 1px auto;
}

.black {
  color: black;
}

.red {
  color: red;
}

.left img {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.center img {
  width: 90px;
  height: 90px;
  margin: 65% auto auto auto;
}

.flip {
  transform: rotate(180deg);
}

.flip img {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}
